body{

    background-image: url("backggg.jpg")
  }
  
  h1{
  background-color: white;
  font-style: italic
  
  
  }
  
  
  button{
  
height: 50px;
width: 150px;
margin-bottom: 100px;

  }
  
  
  
  div{
  
  font-size: 0.8cm;
  margin-left: 500px;
  margin-right: 150px;
  color: white;
  
  }
  
  p{
background-color: white;
margin-bottom: ;
margin


  }


img{

width: 50px;
margin-left: 575px;



}


h3{

margin-left: 200px;
margin-right: px;


}