h1{

text-align: center;
text-decoration-line: underline;




}
h2{

    text-align: center;
   
    }
    h3{

        text-align: center;
         
        }
        body{


            background-image: url(hatter.png);
           
        }
